{% extends 'blog/my_page_base.html' %}
{% block content %}
<!-- postsはviews.pyで設定された変数-->
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            	<p>ふろんと！</p>
    			<form method="POST" class="post-form">{% csrf_token %}
     			<!-- form.as_p を参照すると、各フィールドとラベルをパラグラフ (<p>) タグ で囲って出力します -->
        		{{ form.as_p }}
        		<button type="submit" class="save btn btn-default" name="save">Save</button>
    			</form>
            </div>
        </div>
    </div>
    <hr>
    <p>履歴</p>
    <div class="container">
    <div class="row">
      <div class="col-sm-8">
        {% for posting in post %}
        <form action="{% url 'delete' otitle=posting.title%}" method="post">{% csrf_token %}
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">{{ posting.title }} <label class="date">投稿日時：{{ posting.created_date }}</label><button type="submit" name="button_del"><i class="glyphicon glyphicon-ok"></i></button>
              </h3>
            </div>
            <div class="panel-body">
              {{ posting.text }}
            </div>
          </div>
        </form>
        {% endfor %}
      </div>
    </div>
    </div>
{% endblock content %}