{% load staticfiles %}
<html>
    <head>
        <title>MyPage</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/my_page.css' %}">
    </head>
    <body>
    <div class="page-header">
        <ul class="nav nav-pills nav-right">
  <li><h1>My Page!!</h1></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle mydropper" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus">Task</span></a>
    <ul class="dropdown-menu">
    {% for tasking in post_task %}
      <li><a href="#"><form action="{% url 'delete' otitle=tasking.topic%}" method="post">{% csrf_token %}{{ tasking.topic }}<button type="submit" name="del_task" class="glyphicon glyphicon-remove　del_button"></button></form></a></li>
    {% endfor %}
      <li><form method="POST" class="post-form">{% csrf_token %}
            {{ task.as_p }}
            <button type="submit" class="save btn btn-default" name="task">Save</button>
            </form></li>
    </ul>
  </li>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle mydropper" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus">Trend</span></a>
    <ul class="dropdown-menu">
    {% for trending in post_trend %}
      <li><a href="#"><form action="{% url 'delete' otitle=trending.topic%}" method="post">{% csrf_token %}{{ trending.topic }}<button type="submit" name="del_trend" class="glyphicon glyphicon-remove　del_button"></button></form></a></li>
    {% endfor %}
      <li><form method="POST" class="post-form">{% csrf_token %}
            {{ trend.as_p }}
            <button type="submit" class="save btn btn-default" name="trend">Save</button>
            </form></li>
    </ul>
  </li>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle mydropper" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus">Interest</span></a>
    <ul class="dropdown-menu">
    {% for interesting in post_interest %}
      <li><a href="#"><form action="{% url 'delete' otitle=interesting.topic%}" method="post">{% csrf_token %}{{ interesting.topic }}<button type="submit" name="del_interest" class="glyphicon glyphicon-remove　del_button"></button></form></a></li>
    {% endfor %}
      <li><form method="POST" class="post-form">{% csrf_token %}
            {{ interest.as_p }}
            <button type="submit" class="save btn btn-default" name="interest">Save</button>
            </form></li>
    </ul>
    </div>
    <div>
        Welcom
    </div>
    {% block content %}
    {% endblock %}

  {% block js %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  {% endblock %}
    </body>
</html>