{% load staticfiles %}
<html>
    <head>
        <title>tesr</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/my_page.css' %}">
    </head>
    <body>
    <div class="page-header">
  <ul class="nav nav-pills nav-right">
  <li><h1>Test Page!!</h1></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle mydropper" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus">Task</span></a>
    <ul class="dropdown-menu">
      <li class="dropdown-header">Header</li>
      <li>Another action</li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
      <li class="disabled"><a href="#">Disabled link</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle mydropper" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus">Trend</span></a>
    <ul class="dropdown-menu">
      <li class="dropdown-header">Header</li>
      <li>Another action</li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
      <li class="disabled"><a href="#">Disabled link</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle mydropper" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus">Interest</span></a>
    <ul class="dropdown-menu">
      <li class="dropdown-header">Header</li>
      <li>Another action</li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
      <li class="disabled"><a href="#">Disabled link</a></li>
    </ul>
  </li>
  </ul>
    </div>
    <!--
    <ul class="nav nav-pills">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">通常のDropdown <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="dropdown-header">Header</li>
      <li>Another action</li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
      <li class="disabled"><a href="#">Disabled link</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus">右揃え</span></a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li class="dropdown-header">Header</li>
      <li clss="mydropper">Another action</li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
      <li class="disabled"><a href="#">Disabled link</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle mydropper" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus">右揃え２</span></a>
    <ul class="dropdown-menu dropdown-menu-right">
      <li class="dropdown-header">Header</li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
      <li class="disabled"><a href="#">Disabled link</a></li>
    </ul>
  </li>
</ul>
-->
    <div>
            {% for post in posts %}
                {{ post }}
            {% endfor %}
        Welcom
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            <form method="POST" class="post-form">{% csrf_token %}
            <!-- form.as_p を参照すると、各フィールドとラベルをパラグラフ (<p>) タグ で囲って出力します -->
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
            </form>
            </div>
        </div>
    </div>
    <hr>
    <p>履歴</p>
    <div class="container">
    <div class="row">
      <div class="col-sm-8">
        {% for posting in post %}
        <form action="{% url 'delete' otitle=posting.title%}" method="post">{% csrf_token %}
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">{{ posting.title }} <label class="date">投稿日時：{{ posting.created_date }}</label><input type="submit" name="button" value="削除">
              </h3>
            </div>
            <div class="panel-body">
              {{ posting.text }}
            </div>
          </div>
        </form>
        {% endfor %}
      </div>
    </div>
    </div>

  {% block js %}
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  {% endblock %}
    </body>
</html>